.Pay{
    color: #FFF;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 3%;
}


.Pay_left{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 86vh;
    padding-left: 8%;
    padding-top: 3%;
    gap: 3rem;
}
.Pay_left_detail_offer{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 2.2rem;
}
.red{
    position: relative;
    display: inline-block;
    font-weight: bolder;
}

.red::after {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F00;
    transform-origin: top left;
    transform: scaleY(2.5); /* Adjust the scale value as needed */
  }
  .text {
    position: relative;
    z-index: 1;
  }

  .offer{
    color: #0096FF;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    letter-spacing: 0.96px;
  }

.Pay_left_detail{
    display: flex;
}
.detail1_a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Pay_left_detail{
    display: flex;
    align-items: center;
    word-spacing: 5px;
    justify-self: center;
    gap: 50px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.96px;
}
.blue{
    color: #0096FF;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    letter-spacing: 0.96px;
}
.detail1_b{
    display: flex;
}


/* ----------------------------Right Side - subscription Plans-------------------------------------------------------------  */

.Pay_right{
    width: 60%;
    box-sizing: border-box;
    color: black;
    padding: 2% 10%;
    padding-right: 5%;
    padding-left: 7%;
}

.Pay_right_subscription{
    background-color: #FFFFFF;
    height: 100%;
    margin-left: 20%;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    padding: 20px 0px;
}
.Pay_right_subscription_progressBar{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.progressBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.a{
    border-radius: 1000px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0096FF;
    font-weight: 500;
    color: #FFF;
}

.Pay_right_subscription_text{
    color: #3C4852;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125.303%; 
}

.Pay_right_subscription_plans{
    width: 93%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.plan1_expired{
    width: 15%;
    color: #FFF;
    font-size: 10px;
    border-radius: 0px 0px 4px 4px;
    background: #F77171;
    display: flex;
    padding: 1px 19px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10%;
}
.plan2_Recommended{
    width: 15%;
    color: #FFF;
    font-size: 10px;
    border-radius: 0px 0px 4px 4px;
    background: #47BA68;
    display: flex;
    padding: 1px 19px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10%;
}

.yr{
    font-weight: 600;
}
.mr{
    font-size: 12px;
}
.subscription_plan1{
    border-radius: 4px;
    border: 2.2px solid #BEBEBE;
    height: 58px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    background: #E7E7E7;
    cursor: pointer;
}
.subscription_plan2{
    border-radius: 4px;
    border: 2.2px solid #BEBEBE;
    height: 58px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    cursor: pointer;
}
.subscription_plan{
    border-radius: 4px;
    border: 2.2px solid #BEBEBE;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
    cursor: pointer;
}
.subscription_plan.green{
    border: 2px solid #47BA68;
    background: #D7EDDD;
  }
.subscription_plan2.green{
    border: 2px solid #47BA68;
    background: #D7EDDD;
}
.plan, .plan1{
    display: flex;
    box-sizing: border-box;
    gap: 10px;
}
.plan_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.plan_amount{
    display: flex;
    flex-direction: column;
}

input[type="radio"]{
    transform: scale(2);
    cursor: pointer;
}


.Pay_right_subscription_Fee{
    display: flex;
    flex-direction: column;
    width: 88%;
    border-top: 2px solid #BEBEBE;
    padding: 3% 0% 3%;
    gap: 10px;
}
.subcription_Fee{
    width: 95%;
    display: flex;
    margin-left: 20px;
    justify-content: space-between;

    color: #3C4852;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;
}
.subscription_Offer{
    height: 50px;
    width: 97%;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-image: linear-gradient(135deg, #DE4313 0%, #DE4313 0.75%, #DE4313 2.92%, #DE4414 6.37%, #DF4515 10.97%, #DF4816 16.59%, #E04B18 23.10%, #E1501B 30.37%, #E3561F 38.27%, #E55E24 46.66%, #E7682B 55.41%, #EB7533 64.39%, #EE843C 73.47%, #F39547 82.52%, #F8A954 91.41%, #FEC163 100%) 1;
    border-image-slice: 31;
    background: linear-gradient(135deg, rgba(222, 67, 19, 0.20) 0%, rgba(222, 67, 19, 0.20) 0.75%, rgba(222, 67, 19, 0.20) 2.92%, rgba(222, 68, 20, 0.20) 6.37%, rgba(223, 69, 21, 0.20) 10.97%, rgba(223, 72, 22, 0.20) 16.59%, rgba(224, 75, 24, 0.20) 23.10%, rgba(225, 80, 27, 0.20) 30.37%, rgba(227, 86, 31, 0.20) 38.27%, rgba(229, 94, 36, 0.20) 46.66%, rgba(231, 104, 43, 0.20) 55.41%, rgba(235, 117, 51, 0.20) 64.39%, rgba(238, 132, 60, 0.20) 73.47%, rgba(243, 149, 71, 0.20) 82.52%, rgba(248, 169, 84, 0.20) 91.41%, rgba(254, 193, 99, 0.20) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 18px;
    padding-right: 0px;
}

.limited_offer{
    display: flex;
    justify-content: space-between;
    width: 95%;
    color: #3C4852;
}
.limited_offer_text{
    color: #DE4313;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
}
.subscription_time{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 95%;
    gap: 5px;
}
.offer_time{
    color: #DE4313;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%; /* 16.8px */
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: #3C4852;
    margin-left: 20px;
}
.total_amount{
    font-size: 22px;
    font-weight: bolder;
}



/* ----------------------------Right Side - Submit Buttons-------------------------------------------------------------  */

.submit{
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancel{
    width: 45%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid #F77171;
    color: #F77171;
}
.cancel1{
    color: #F77171;
    
}
.proceed{
    width: 45%;
    height: 100%;
    border-radius: 4px;
    background: #47BA68;
}
.proceed1{
    color: #FFFFFF;
}
button{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.container{
    width: 100%;
}
.frame{
    margin-top: 20px;
    width: 24%;
    height: 40px;
    background: url('../Assets/Frame\ 12537.png'), lightgray 50% / cover no-repeat;
    position: inherit;
    margin-left: 5%;
}


@media screen and (max-width: 1130px)
{
    .Pay{
        display: flex;
        flex-direction: column;
        height: 500%;
        justify-content: center;
        scroll-behavior: auto;
    }
    .Pay_left{
        width: 60%;
        height:50%;
        justify-content: center;
        align-items: center;
    }
    .Pay_right{
        width: 80%;
        height: 50%;
    }
}